################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreWebDemo/.vs/AspNetCoreWebDemo/v16
/AspNetCoreWebDemo/.vs/AspNetCoreWebDemo/v16
/AspNetCoreWebDemo/.vs/AspNetCoreWebDemo/v16/Server/sqlite3
/AspNetCoreWebDemo/AspNetCoreWebDemo/obj
/AspNetCoreWebDemo/AspNetCoreWebDemo/bin/Debug/netcoreapp3.0
/AspNetCoreWebDemo/AspNetCoreWebDemoTests/bin/Debug/netcoreapp3.0
/AspNetCoreWebDemo/AspNetCoreWebDemoTests/obj
/AspNetCoreWebDemo/.vs/AspNetCoreWebDemo/config
